@model eidss.model.Schema.LabSample
@{
    ViewBag.Title = @Translator.GetMessageString("titleSampleTitle");
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}
@using eidss.webclient.Utils;
@using eidss.webclient.Areas.Freezer;

<script src="../../Scripts/Freezer/CommonScript.js" type="text/javascript"></script>
<script src="../../Scripts/Sample/CommonScript.js" type="text/javascript"></script>
<script src="../../Scripts/HumanCase/Script.js" type="text/javascript"></script>
<script src="../../Scripts/Common/FormRefresh.js" type="text/javascript"></script>
<script src="../../Scripts/Common/BvGrid.js" type="text/javascript"></script>
<script src="../../Scripts/Common/Dialogs.js" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <input id='SaveAndExitClick' name='SaveAndExitClick' type='hidden' value='@ViewData["SaveAndExitClick"]' />   
    @Html.IdentificationAndHeartbeat("ID", Model.idfContainer)
    <div class="detailsWindow smallDetailsWindow"> 
        <div class="detailsTitle">
			<table class="detailsTitleContent">
				<tr>						
					<td class="titleImage">
                        <img src="../../Content/Images/Sample-(large).png" alt="" />
                    </td>
                    <td class="titleText">
                        @Translator.GetMessageString("titleSampleTitle")
                    </td>
                    <td class="titleText titleFormCode">
                        L02
                    </td>
				</tr>
			</table>
		</div>               
        <table>
            <tr>
                <td class="large">
                    @Html.LabelFor(m => m.strBarcode)
                </td>
                <td>
                    @Html.BvEditbox(Model, "strBarcode")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SpecimenType)
                </td>
                <td>
                    @Html.BvEditbox(Model, "SpecimenType")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strParentBarcode)
                </td>
                <td>
                    @Html.BvEditbox(Model, "strParentBarcode")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.idfInDepartment)
                </td>
                <td>
                    @Html.BvCombobox(Model, "Department")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.idfSubdivision)
                </td>
                <td class="noIndent">
                    @Html.InlineFreezerPicker(Model.idfContainer, Model)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CaseType)
                </td>
                <td>
                    @Html.BvEditbox(Model, "CaseType")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strCaseInfo)
                </td>
                <td class="noIndent">
                    <table>
                        <tr>                                                                       
                            <td class="fillAll">
                                @Html.BvEditbox(Model, "strCaseInfo")
                            </td>
                            <td class="selectButton">
                                @if (Model.idfCase.HasValue)
                                {
                                    if (Model.idfsCaseType == (long)eidss.model.Enums.CaseTypeEnum.Human)
                                    {
                                        <input class="coloredButton" type="button" onclick="OpenPopup('../HumanCase/Details?id=' + @Model.idfCase, ' ');" value="..." />
                                    }
                                    else
                                    {
                                        <input class="coloredButton" type="button" onclick="OpenPopup('../VetCase/Details?id=' + @Model.idfCase, ' ');" value="..." />
                                    }
                                }
                                else
                                {
                                    <input class="coloredButton" type="button" value="..." />
                                }
                            </td>                                                       
                        </tr>                                
                    </table>                     					
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strMonitoringSessionID)
                </td>
                <td class="noIndent">                            
                    <table>
                        <tr>                                                                       
                            <td class="fillAll">
                                @Html.BvEditbox(Model, "strMonitoringSessionID")
                            </td>
                            <td class="selectButton">
                                @if (Model.idfMonitoringSession.HasValue)
                                {
                                    <input class="coloredButton" type="button" onclick="OpenPopup('../ASSession/Details?id=' + @Model.idfMonitoringSession, ' ');" value="..." />                              
                                }
                                else
                                {
                                    <input class="coloredButton" type="button" value="..." />
                                }
                            </td>                                                       
                        </tr>                                
                    </table>                     					
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.HumanName)
                </td>
                <td>
                    @if (Model.SpeciesName != "")
                    {
                        @Html.BvEditbox(Model, "SpeciesName")
                    }
                    else
                    {
                        @Html.BvEditbox(Model, "HumanName")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strNote)
                </td>
                <td>
                    @Html.BvTextArea(Model, "strNote", true)
                </td>
            </tr>
        </table>
        <table class="bordered">
            <tr>        
                <td class="sectionName" colspan="2">      
                    @Translator.GetMessageString("titleCollectedBy")   
                </td>
            </tr>
            <tr>
                <td class="large">
                    @Html.LabelFor(m => m.strFieldCollectedByOffice)
                </td>
                <td>
                    @Html.BvEditbox(Model, "strFieldCollectedByOffice")
                </td>                
            </tr>                
            <tr>
                <td>
                    @Html.LabelFor(m => m.strFieldCollectedByPerson)
                </td>
                <td>
                    @Html.BvEditbox(Model, "strFieldCollectedByPerson")
                </td>
            </tr>
        </table>      
    </div>    
}
