@{
    ViewBag.Title = Translator.GetMessageString("pageTitleChangePassword");
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@model eidss.webclient.Models.Login
@using bv.common.Configuration
@using eidss.web.common.Utils

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        defaultPage.changePasswordPageOnLoad();
    });
</script>

@if (BaseSettings.TranslationMode)
{
    <input type='hidden' id='aspclassname' value='@GetType().FullName' />
}
<table class="changePasswordPanel" id="pnSuccessMessage">
    <tr>
        <td class="changePasswordLabel"></td>
        <td class="title">
            <span>@Translator.GetMessageString("pageTitleChangePassword")</span>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <div class="successMessage">@Translator.GetBvMessageString("msgPasswordChanged")</div> 
        </td>
    </tr>
    <tr>
        <td colspan="2" class="changePasswordButtons">
            <input type="button" class="button" value="@Translator.GetMessageString("Ok")" onclick="defaultPage.closeChangePassword();" />
        </td>   
    </tr>
</table>
<table class="changePasswordPanel" id="pnChangePassword">
    <tr>
        <td></td>
        <td class="title">
            <span>@Translator.GetMessageString("pageTitleChangePassword")</span>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <div class="errorMessage" id='errorMessageSpan'>@Html.Encode(Model.ErrorMessage)</div> 
        </td>
    </tr>
    <tr>
        <td class="changePasswordLabel">
            @Html.LabelFor(m => m.Organization)
        </td>
        <td class="loginField">
            <span class="k-textbox">
                @Html.EditorFor(m => m.Organization, new { @class = "k-textbox" })
                <a href="#" class="k-icon k-i-close" tabindex="-1">&nbsp;</a>
            </span>
        </td>
    </tr>
    <tr>
        <td class="changePasswordLabel">
            @Html.LabelFor(m => m.UserName)
        </td>
        <td class="loginField">
            <span class="k-textbox">
                @Html.EditorFor(m => m.UserName, new { @class = "k-textbox" })
                <a href="#" class="k-icon k-i-close" tabindex="-1">&nbsp;</a>
            </span>
        </td>
    </tr>
    <tr>
        <td class="changePasswordLabel">
            @Html.LabelFor(m => m.OldPassword)
        </td>
        <td class="loginField">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "k-textbox" })
        </td>
    </tr>
    <tr>
        <td class="changePasswordLabel">
            @Html.LabelFor(m => m.NewPassword)
        </td>
        <td class="loginField">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox" })
        </td>
    </tr>
    <tr>
        <td class="changePasswordLabel">
            @Html.LabelFor(m => m.ConfirmPassword)
        </td>
        <td class="loginField">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox" })
        </td>
    </tr>
    <tr>
        <td colspan="2" class="changePasswordButtons">
    @if (BaseSettings.TranslationMode)
    {
            <input type="button" class="button" value="@Translator.GetMessageString("btTranslationTool")" onclick="bvTranslation.OpenTranslationWindow();" />
    }
            <input type="submit" class="button" value="@Translator.GetMessageString("Ok")" onclick="return defaultPage.validateChangePasswordPage();" />
            <input type="button" class="button" value="@Translator.GetMessageString("Cancel")" onclick="defaultPage.closeChangePassword();" />
        </td>   
    </tr>
</table>
