<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>   
    <link href="@Url.Content("~/Content/Styles/Common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/Details.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/PopupWindow.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/SearchPanel.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/ErrorPage.css")" rel="stylesheet" type="text/css" />
     
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>   
    <!-- Translations -->
    <script src="@Url.Content(String.Format("~/Scripts/Messages/EIDSS.BvMessages.{0}.js", Cultures.GetCulture(ModelUserContext.CurrentLanguage)))" type="text/javascript" ></script>
     <!-- Common -->
    <script src="@Url.Content("~/Scripts/Common/Config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/WindowsShow.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/ActionsPanelScripts.js")" type="text/javascript" ></script>       
    <script src="@Url.Content("~/Scripts/Common/CustomActions.js")" type="text/javascript" ></script>       
    <script src="@Url.Content("~/Scripts/Common/Dialogs.js")" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/Common/BvGrid.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/FormRefresh.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/SearchPicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Aggregate/CommonScript.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Address/Lookups.js")" type="text/javascript"></script>
    
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.web20.css").Add("telerik.rtl.css").Add("FFstyles.css").Combined(true).Compress(true)))   

    <script type="text/javascript">
        $(window).load(function () {            
            $.ajaxSetup({ cache: false });
            onCaseSummaryLoad();
            ShowSummaryInfo(false);
        });
        document.onkeypress = function (e) {
            var e = window.event || e;
            if (e.keyCode == 13) {
                return false;
            }
        }       
    </script>
</head>
 
@using System.Threading
@using eidss.webclient.Areas.ActionPanel;
@using bv.common.Enums;
@using bv.model.Model.Core;
@using eidss.webclient.Utils

@functions
{
    IObjectAccessor GetAccessor()
    {
        var result = Model as IObjectAccessor;
        if (result == null)
        {
            if (Model is IObject)
            {
                result = ((IObject)Model).GetAccessor();
            }
        }
        return result;
    }
            
    string GetPopup(eidss.webclient.Utils.MenuItem item)
    {
        if (item.IsHelp)
        {
            return String.Format("return OpenPopup('{0}', '{1}');", GetHelpUrl(item.Url), item.Name.Replace(" ", ""));
        }
        
        if (item.Url.Contains("AVR"))
        {
            return String.Format("return OpenPopup('{0}?lang={1}', 'CreateObject');", item.Url, Thread.CurrentThread.CurrentCulture);
        }
        
        return String.Format("return OpenPopup('{0}', 'CreateObject');", item.Url);
    }

    string GetHelpUrl(string basicUrl)
    {
        if (ViewBag.HelpUrl == null)
        {
            return basicUrl;
        }

        return String.Format("{0}?{1}.htm", basicUrl, ViewBag.HelpUrl);
    }
}

<body>  
    @(Html.Telerik().Window()
        .Name("Message")
        .Modal(true)
        .Visible(false)
        .Draggable(true)
        .Height(370)
        .Buttons(buttons => buttons.Refresh().Maximize().Close())
        .ClientEvents
            (events => events
                .OnClose("OnCloseMessageWindow")
            )
    ) 
    <div class="page">
        <div class="header">        
            @(Html.Telerik().Menu()
                .Name("Menu")
                .BindTo(MenuHelper.GetMenu(), mappings =>
                {
                    mappings.For<MenuCategory>(binding => binding
                            .ItemDataBound((item, category) =>
                            {
                                item.Text = category.Name;
                                item.Visible = category.IsActive;
                            })
                            .Children(category => category.Items));
                    mappings.For<eidss.webclient.Utils.MenuItem>(binding => binding
                        .ItemDataBound((item, menuitem) =>
                        {
                            item.Text = menuitem.Name;
                            item.Visible = menuitem.IsActive;
                            item.Url = menuitem.Url;

                            if (menuitem.IsPopup)
                            {
                                item.LinkHtmlAttributes.Add("onclick", GetPopup(menuitem));
                                item.Url = "#";
                            }
                            else
                            {
                                if (menuitem.IsModal)
                                    item.LinkHtmlAttributes.Add("onclick", String.Format("return OpenModal('{0}', '{1}');", menuitem.Url, menuitem.Name.Replace(" ", "")));
                            }

                        }));
                })
            )
            <div class="menuContainer">
                <ul class="navigationMenu">
                    @foreach (var item in MenuHelper.GetIconMenu())
                    {
                        if (item.IsActive)
                        {
                            if (item.IsPopup)
                            {
                                <text>
                                <li>                                    
                                    <a href="#" onclick='@GetPopup(item)' >
                                        <img src='/Content/Images/@item.IconName' border='0' alt='@item.Name' title='@item.Name' />
                                    </a>
                                </li>
                                </text>                        
                            }
                            else
                            {
                            <text>
                                <li>                                    
                                    <a href='@item.Url'  >
                                        <img src='/Content/Images/@item.IconName' border='0' alt='@item.Name' title='@item.Name' />
                                    </a>
                                </li>
                            </text>                        
                            }
                        }
                    }                    
                </ul>
                <a class="logoutLink" href='@Url.Action("Logout", "Account")'>@Translator.GetMessageString("Logout")</a>
            </div>
        </div>
        <div class="content">
            <div class="customTitle">@ViewBag.Title</div>
            <div class="customTitle customTitleFormCode">@ViewBag.FormCode</div>
            <div class="topButtonPanel">                
            </div>
            <div class="detailsPage">
                @RenderBody()                 
            </div>            
            <div class="bottomButtonPanel" >                                         
                <button type="button" class="rightButton actionButton" onclick="CloseCaseSummary()">
                    <img src="../../Content/Images/ActionsPanelButtons/Close.png" alt="" />@Translator.GetString("Close")  
                </button>
                <input type="button" class="rightButton actionButton" onclick="onShowSummaryInfo();" id="btnShowSummaryInfo" value="@Translator.GetMessageString("btShowSummary")" /> 
                <input type="button" id="btnShowReport" class="actionButton" onclick="onShowAggregateCaseSummaryReport();" value="@Translator.GetMessageString("titlePaperForms")" />                           
            </div>            
        </div>
        <div class="footer">
            <table class="siteInfo">
                <tr>
                    <td>
                        User: <strong>@eidss.model.Core.EidssUserContext.User.FullName</strong>
                    </td>                
                    <td>
                        Organization: <strong>@eidss.model.Core.EidssUserContext.User.Organization</strong>
                    </td>                
                    <td>
                        Site ID: <strong>@eidss.model.Core.EidssSiteContext.Instance.SiteID</strong> 
                    </td>                
                    <td>
                        Country: <strong>@eidss.model.Core.EidssSiteContext.Instance.CountryName</strong>
                    </td>                
                    <td>
                        Date: <strong>@DateTime.Today.ToString("yyyy/MM/dd")</strong>
                    </td>
                </tr>
            </table>           
        </div>
    </div>
    <div id="loading" class="loader">
        <img id="loadingImg" src='@Url.Content(VirtualPathUtility.ToAbsolute("~/Content/Images/ajax-loader.gif"))' alt="" />                      
    </div>  
    @Html.Telerik().ScriptRegistrar().jQuery(false).Globalization(true).DefaultGroup(group =>
        {
            group.Add("/2010.3.1318/telerik.common.js");
            group.Add("/2010.3.1318/telerik.list.js");
            group.Add("/2010.3.1318/telerik.combobox.js");
            group.Add("/2010.3.1318/telerik.calendar.js");
            group.Add("/2010.3.1318/telerik.datepicker.js");
            group.Add("/2010.3.1318/telerik.timepicker.js");
            group.Add("/2010.3.1318/telerik.datetimepicker.js");
            group.Add("/2010.3.1318/telerik.treeview.js");
            group.Add("/2010.3.1318/telerik.grid.js");             
        })
    </body>
</html>
