@model eidss.model.Schema.HumanAggregateCase           
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@using eidss.webclient.Utils

<script language="javascript" type="text/javascript">
    $(".popupContent").ready(function () {
        ChangeMessageWindowHeigth();
    });  
</script>

<div class="popupContent">
    @using (Html.BeginForm())
    {        
        <input type="hidden" id="idfAggrCase" name="idfAggrCase" value="@Model.idfAggrCase" />         
        
        @Html.Partial("../HumanAggregateCase/DetailsContent", Model)
                   
        <div class="popupBottomButtonPanel">                
            <input type="button" class="popupButton" onclick="CloseMessageWindow();" value="@Translator.GetMessageString("Cancel")"/> 
            <input type="button" class="popupButton" onclick="SaveAggregateCase('HumanAggregateCase', '@Model.idfAggrCase', '@Model.IsNew');" value="@Translator.GetMessageString("Ok")"/>                                                   
        </div>                         
    }
</div>        