<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title> 
    
    <link href="@Url.Content("~/Content/Kendo/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Kendo/kendo.uniform.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/Styles/Common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/ListForm.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/ErrorPage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/Details.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/SearchPanel.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/AggregateSummary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/CountrySpecific.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/min/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/min/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/Kendo/min/kendo.timezones.min.js")" type="text/javascript"></script>*@

    <!-- Translations -->
    <script src="@Url.Content(String.Format("~/Scripts/Kendo/min/cultures/kendo.culture.{0}.min.js", Cultures.GetCultureStandard(ModelUserContext.CurrentLanguage)))" type="text/javascript" ></script>
    <script src="@Url.Content(String.Format("~/Scripts/Messages/EIDSS.BvMessages.{0}.js", Cultures.GetCulture(ModelUserContext.CurrentLanguage)))" type="text/javascript" ></script>
    <!-- Common -->

     <script src='@Url.Content("~/Scripts/jquery.form.js")' type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/EIDSS/ActionsPanelScripts.js")" type="text/javascript" ></script>       
    <script src="@Url.Content("~/Scripts/EIDSS/Config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/WindowFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/NumericTextBoxFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/ComboBoxFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/GlobalizationFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/DatePickerFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/TabStripFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/ValidatorFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/CommonWidgetsFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/WidgetsFacades/GridFacade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/Map.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/BvUrls.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/Dialogs.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/BvComboBox.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/BvGrid.js")" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/EIDSS/SearchPicker.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/FfGrid.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/DetailPage.js")" type="text/javascript" ></script>        
    <script src="@Url.Content("~/Scripts/EIDSS/Actions.js")" type="text/javascript" ></script>      
    <script src="@Url.Content("~/Scripts/EIDSS/CustomActions.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/EIDSS/FormRefresher.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/EIDSS/ListForm.js")" type="text/javascript"></script>  
    <script src='@Url.Content("~/Scripts/EIDSS/Address.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/EIDSS/BvComboBox.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/EIDSS/AggregateCase.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/EIDSS/AggregateSummary.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EIDSS/SearchPanel.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/EIDSS/ListForm.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/EIDSS/Notification.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/EIDSS/TwinkleTextBox.js")" type="text/javascript"></script>  
    
    <script type="text/javascript">
        //$(window).load(function () {           
            //aggregateCase.onCaseSummaryLoad();
            //aggregateCase.showSummaryInfo(false);
        //});
        document.onkeypress = function (e) {
            var e = window.event || e;
            if (e.keyCode == 13) {
                return false;
            }
        }       
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            kendo.culture('@Cultures.GetCultureStandard(ModelUserContext.CurrentLanguage)');
        });
    </script>

</head>
 
@using Kendo.Mvc.UI
@using bv.common.Configuration
@using eidss.web.common.Utils
@using System.Threading
@using bv.common.Enums;
@using bv.model.Model.Core;
@using eidss.webclient.Utils

@functions
{
    IObjectAccessor GetAccessor()
    {
        var result = Model as IObjectAccessor;
        if (result == null)
        {
            if (Model is IObject)
            {
                result = ((IObject)Model).GetAccessor();
            }
        }
        return result;
    }
            
    string GetPopup(eidss.webclient.Utils.MenuItem item)
    {
        if (item.IsHelp)
        {
            return String.Format("return OpenPopup('{0}', '{1}');", GetHelpUrl(item.Url), item.Name.Replace(" ", ""));
        }
        
        return String.Format("return OpenPopup('{0}', 'CreateObject');", item.Url);
    }

    string GetHelpUrl(string basicUrl)
    {
        if (ViewBag.HelpUrl == null)
        {
            return basicUrl;
        }

        return String.Format("{0}?{1}.htm", basicUrl, ViewBag.HelpUrl);
    }

}

    <body>  
        <div class="page">
            <div class="header">
                <table class="headerPanel">
                    <tr>
                        <td class="logo">
                            <a href="@Url.Action("Home", "Account")">@Translator.GetMessageString("EIDSS_Short_Caption")</a> 
                        </td>
                        <td class="infoTd">
                            <div class="infoPanel">
    @if (BaseSettings.TranslationMode)
    {
                                <a href='javascript:bvTranslation.OpenTranslationWindow();'>@Translator.GetMessageString("btTranslationTool")</a> <text> |</text>
    }
                                <a href='javascript:listForm.openHelp("@ViewBag.HelpIndex");'>@Translator.GetMessageString("strHelp")</a> |
                                <a href="javascript:listForm.showInfoWindow();">@Translator.GetMessageString("strInfo")</a> |
                                <a href='@Url.Action("Logout", "Account")'>@Translator.GetMessageString("Logout")</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="name">
                            @Translator.GetMessageString("EIDSS_Caption")
                        </td>
                    </tr>
                </table>
                @(Html.Kendo().Menu()
                    .Name("Menu")
                    .CloseOnClick(false)
                    .OpenOnClick(false)
                    .Events(a => a.Open("function() { searchPanel.hide(); }"))
                    .BindTo(MenuHelper.GetMenu(), mappings =>
                        {
                            mappings.For<MenuCategory>(binding => binding
                                .ItemDataBound((item, category) =>
                                    {
                                        item.Text = category.Name;
                                        item.Visible = category.IsActive;
                                        if (!string.IsNullOrEmpty(category.Url))
                                        {
                                            item.Url = category.Url;
                                            if (category.IsPopup)
                                            {
                                                item.LinkHtmlAttributes.Add("onclick", String.Format("return OpenPopup('{0}', 'CreateObject');", category.Url));
                                            }
                                            else if (category.IsModal)
                                            {
                                                item.LinkHtmlAttributes.Add("onclick", String.Format("return OpenModal('{0}', '{1}');", category.Url, category.Name.Replace(" ", "")));
                                            }
                                        }
                                    })
                                .Children(category => category.Items));
                                                    mappings.For<eidss.webclient.Utils.MenuItem>(binding => binding
                                                    .ItemDataBound((item, menuitem) =>
                                                        {
                                                            item.Text = menuitem.Name;
                                                            item.Visible = menuitem.IsActive;

                                                            if (!menuitem.IsFolder)
                                                            {
                                                                item.Url = menuitem.Url;

                                                                if (menuitem.IsPopup)
                                                                {
                                                                    item.LinkHtmlAttributes.Add("onclick", GetPopup(menuitem));
                                                                }
                                                                else if (menuitem.IsModal)
                                                                {
                                                                    item.LinkHtmlAttributes.Add("onclick", String.Format("return OpenModal('{0}', '{1}');", menuitem.Url, menuitem.Name.Replace(" ", "")));
                                                                }
                                                            }
                                    })
                                .Children(item => item.Items));
                        })
                        )
                <div class="showMenuArrow" id="ShowMenuArrow">
                    <span class="k-icon k-i-arrow-s" onclick="listForm.showIconMenu()"></span>
                </div>
                <div class="navigationMenuPanel" id="IconMenu">
                    <ul class="navigationMenu">
                        @foreach (var item in MenuHelper.GetIconMenu())
                        {
                            if (item.IsActive)
                            {
                                var className = item.IsLastInSection ? "lastInSection" : "";
                                <li class="@className">
                                    @{ var onclick = item.IsPopup ? GetPopup(item) : "";
                                        var href = item.IsPopup ? "#" : item.Url;  }
                                    <a href="@href" onclick='@onclick' >
                                        @if (item.IconName == null)
                                        {
                                            @item.Name
                                        }
                                        else
                                        {
                                            <img src='/Content/Images/@item.IconName' alt='@item.Name' title='@item.Name' />
                                        }
                                    </a>
                                </li>
                            }
                        }  
                        <li class="menuArrow">
                            <span class="k-icon k-i-arrow-n" onclick="listForm.hideIconMenu()"></span>
                        </li>                  
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="customTitle">@ViewBag.Title</div>
                <div class="customTitle customTitleFormCode">@ViewBag.FormCode</div>
                <div class="topButtonPanel">                
                </div>
                <div class="detailsPage">
                    @RenderBody()                 
                </div>            
            @*
                <div class="bottomButtonPanel" >                                         
                    <button type="button" class="rightButton actionButton" onclick="aggregateCase.closeCaseSummary()">
                        <img src="../../Content/Images/ActionsPanelButtons/Close.png" alt="" />@Translator.GetString("Close")  
                    </button>
                    <input type="button" class="rightButton actionButton" onclick="aggregateCase.onShowSummaryInfo();" id="btnShowSummaryInfo" value="@Translator.GetMessageString("btShowSummary")" /> 
                    <input type="button" id="btnShowReport" class="actionButton" onclick="aggregateCase.onShowAggregateCaseSummaryReport();" value="@Translator.GetMessageString("titlePaperForms")" />                           
                </div>            
                *@
            </div>
        </div>
        @*<div id="DialogWindow"></div>*@
        @*<div id="PopupWindow"></div>*@

    @if (BaseSettings.TranslationMode)
    {
        <div id="TranslationWindow"></div>       
        <div id="SplitWindow"></div>       
    }
        <div id="loading" class="loader">
            <img id="loadingImg" class="loaderImg" src='@Url.Content(VirtualPathUtility.ToAbsolute("~/Content/Images/ajax-loader.gif"))' alt="" />
        </div>   
    </body>
</html>
