@*@model eidss.model.Schema.Address
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@using eidss.web.common.Utils
@using eidss.webclient.Utils;

<script language="javascript" type="text/javascript">
    $(".popupContent").ready(function () {
        ChangeMessageWindowHeigth();
    });  
</script>

<div class="popupContent">
    @using (Html.BeginForm())
    {
        @Html.Hidden("idfGeoLocation")
        @Html.Hidden("strStreetName")
        @Html.Hidden("strPostCode")
        @Html.Hidden("needSetStreetAndPostCode", true)        
                 
        <table>    
            <tr>
                <td class="medium">
                    @Html.LabelFor(m => m.idfsCountry)
                </td>
                <td>
                    @Html.BvCombobox(Model, "Country", true, "address.onCountryChanged")
                </td>                            
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.idfsRegion)
                </td>
                <td>
                    @Html.BvCombobox(Model, "Region", false, "address.onRegionChanged")                        
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.idfsRayon)
                </td>
                <td>
                    @@Html.BvCombobox(Model, "Rayon", false, "address.onRayonChanged")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.idfsSettlement)
                </td>
                <td>
                    @@Html.BvCombobox(Model, "Settlement", false, "address.onSettlementChanged")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strStreetName)
                </td>
                <td>
                    @Html.BvCombobox(Model, "Street", false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strPostCode)
                </td>
                <td>
                    @Html.BvCombobox(Model, "PostCode", false)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.strBuilding)/@Html.LabelFor(m => m.strHouse)/@Html.LabelFor(m => m.strApartment)
                </td>
                <td class="noIndent">
                    <table>
                        <tr>
                            <td>
                                @Html.BvEditbox(Model, m => m.strBuilding, true)
                            </td>
                            <td>
                                @Html.BvEditbox(Model, m => m.strHouse, true)
                            </td>
                            <td>
                                @Html.BvEditbox(Model, m => m.strApartment, true)
                            </td>                                            
                        </tr>
                    </table>
                </td>
            </tr>            
        </table>           
        <div class="popupBottomButtonPanel">    
            <input type="button" class="popupButton" onclick="CloseMessageWindow();" value="@Translator.GetMessageString("Cancel")"/> 
            <input type="button" class="popupButton" onclick="onAddressPickerAddressChanged(@Model.idfGeoLocation, '@Model.ObjectIdent');" value="@Translator.GetMessageString("Ok")"/>                                                      
        </div>                          
    }
</div>*@
