@model bv.model.Model.Core.IObject
           
@using eidss.webclient.Utils

<script language="javascript" type="text/javascript">
    $(document.getElementById('@(ViewBag.MainDivId)')).ready(function () {    
        var btnSearchPicker = $("#" + '@(ViewBag.BtnSearchPicker)');
        var btnClian = $("#" + '@(ViewBag.BtnClianPicker)');
        var isSearchButtonReadOnly = '@(ViewBag.IsSearchButtonReadOnly)';
        var isClianButtonReadOnly = '@(ViewBag.IsClianButtonReadOnly)';
        if (isSearchButtonReadOnly.toString().toLowerCase() == 'true') {
            btnSearchPicker.attr('disabled', 'disabled');
        }
        else {
            btnSearchPicker.removeAttr('disabled');
        }
        if (isClianButtonReadOnly.toString().toLowerCase() == 'true') {
            btnClian.attr('disabled', 'disabled');
        }
        else {
            btnClian.removeAttr('disabled');
        }
    });  
</script>

@{
    var isRequired = Model.IsRequired(ViewBag.IdfsOrganizationPropertyName);
    var className = isRequired ? "requiredTd fillAll" : "fillAll";
}

<div id="@ViewBag.MainDivId">
    <table>
        <tr>
            <td class='@className'>
                @Html.BvEditbox(Model, (string)ViewBag.StrOrganizationPropertyName)      
            </td> 
            <td class='selectButton'>
                <button id='@ViewBag.BtnSearchPicker' class="magnifierButton" onclick='@ViewBag.OnSelectItemClick' type="button" alt="Select">
                    <img src="@Url.Content(VirtualPathUtility.ToAbsolute("~/Content/Images/ActionsPanelButtons/Search.png"))" alt="Select" />
                </button>                     
            </td>
            <td class='selectButton'>
                <input type='button' id='@ViewBag.BtnClianPicker' class='coloredButton' onclick='@ViewBag.OnClianButtonClick' value='X' />
            </td>
        </tr>
    </table>
</div>
