@model eidss.model.Schema.AsCampaignListItem.Accessor
@{
    Layout = null; // "~/Views/Shared/_EmptyLayout.cshtml";
}
@using eidss.webclient.Utils;
@using eidss.model.Schema
<script src='@Url.Content("~/Scripts/Common/SearchPicker.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Search/Panel.js")' type="text/javascript"></script>

<script language="javascript" type="text/javascript">

    function SelectCampaign() {
        //close window and fill farm details with selection
        var id = $('#grid_selecteditem').val();
        if (id.length > 0)
            parent.CampaignIdSelected(id);
    }


    function onCampaignSearch() {
        SearchItemsAndUpdateGrid('@Url.Action("Select", "ASCampaign")', "Message");
    }
</script>
<div class="popupContent searchPopupContent">
    <input type="hidden" id="grid_selecteditem" />
    <div class="fillAll">
        <div class="collapsePanel collapsePanelRight">                                                                      
            <input type="button" id="btHideSearch" value="<<" onclick="onHideSearchPanel()" class="popupButton lfButton" />
            <input type="button" id="btShowSearch" value=">>" onclick="onShowSearchPanel()" class="popupButton lfButton invisible" />                
        </div>
        <div class="searchContentTop">
            <!--div class="titleNumber">V15</div-->
            <input type="button" value="@Translator.GetMessageString("Select")" onclick="SelectCampaign();" class="popupButton" />            
        </div>
        <div class="searchContentLeft">
            <div id="searchpanel" class="customSearchPanel popupSearchPanel">
                @using (Html.BeginForm())
                { 
                    @Html.SearchPanel(Model, (bv.model.Model.Core.FilterParams)ViewBag.Filter, (bv.model.Model.Core.IObject)ViewBag.InitObject)                       
                    <input type="button" value="@Translator.GetMessageString("Search")" onclick="onCampaignSearch()" class="popupButton" />
                    <input type="button" value="@Translator.GetMessageString("Clear")" onclick="ClearSearch(true);" />
                }
            </div>
        </div>
        <div class="mainSearchContent searchLeftIndent">
            @(Html.BvSelectGrid<AsCampaignListItem.AsCampaignListItemGridModel, AsCampaignListItem.AsCampaignListItemGridModelList>(
                Session.SessionID,
                (AsCampaignListItem.AsCampaignListItemGridModelList)ViewBag.GridItems,                       
                eidss.webclient.Configurations.GridDisplayRowsSettings.FARM_LIST)
                .Sortable(sorting => sorting.OrderBy(ordering => ordering.Add("strCampaignName"))))
        </div>
        <div class="searchContentBottom">
            <input type="button" onclick="CloseMessageWindow();" value="@Translator.GetMessageString("Close")" class="popupButton" />
        </div>
    </div>
</div>
