
@using eidss.webclient.Utils
@model eidss.webclient.Models.Reports.ComparativeTwoYearsModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.Partial("Common/BaseFilter", Model)

    @Html.Partial("AZ/FromYearToYearFilter", Model.YearModel)

    @Html.Partial("Common/AddressFilter", Model.Address)

    <table id="ComparativeFilterTable" >
        <tr>
            
            
            <td class="medium">
                @Html.LabelFor(m => m.OrganizationCHE)
            </td>
            <td class="large">
                
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("OrganizationCHE")
                          .BindTo(Model.OrganizationList.ConvertToSelectListItem())
                          .ClientEvents(c => c.OnChange("paperForm.OnComparativeTwoYearsOrganizationChanged"))
                          .Enable(false)

                          )
                }
                
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="medium">
                @Html.LabelFor(m => m.Counter)
            </td>
            <td class="large">
                
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("Counter")
                          .BindTo(Model.CounterList.ConvertToSelectListItem())
                          .HtmlAttributes(new {@class = "requiredField"})
                          )
                }
                
            </td>
            
            <td class="medium">
                @Html.LabelFor(m => m.DiagnosisId)
            </td>
            <td class="large">
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("DiagnosisId")
                          .BindTo(Model.DiagnosisList.ConvertToSelectListItem())
                          )
                }
            </td>
            <td ></td>
        </tr>
    </table>

    @Html.Partial("Common/ExportButtons", Model)
}