
@using eidss.webclient.Utils
@model eidss.webclient.Models.Reports.FormNo1Model

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.Partial("Common/BaseFilter", Model)

    <table id="FormNo1FilterTable" >
        <tr>
            <td class="medium">
                @Html.LabelFor(m => m.Year)
            </td>
            <td class="large">
                <div class='tdContainer'>
                    @{
                        @(Html.Telerik().NumericTextBoxFor(m => m.Year)
                              .Name("Year")
                              .Value(Model.Year)
                              .DecimalDigits(0)
                              .NumberGroupSeparator("")
                              .MinValue(2000)
                              .MaxValue(2030)
                              .HtmlAttributes(new {@class = "requiredField"})
                              )
                    }
                </div>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="medium">
                @Html.LabelFor(m => m.StartMonth)
            </td>
            <td class="large">
                
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("StartMonth")
                          .BindTo(Model.SelectedMonthList.ConvertToSelectListItem())
                          .ClientEvents(c => c.OnChange("paperForm.OnMonthChanged"))
                          )
                }
                
            </td>
            <td class="medium">
                @Html.LabelFor(m => m.EndMonth)
            </td>
            <td class="large">
                
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("EndMonth")
                          .BindTo(Model.UnselectedMonthList.ConvertToSelectListItem())
                          .ClientEvents(c => c.OnChange("paperForm.OnMonthChanged"))
                          )
                }
                
            </td>
            <td></td>
      
        </tr>
    </table>

    @Html.Partial("Common/AddressFilter", Model.Address)
    <table id="OrganizationandPageSizeTable">
        <tr>
            <td class="medium">
                @Html.LabelFor(m => m.OrganizationCHE)
            </td>
            <td class="large">
                
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("OrganizationCHE")
                          .BindTo(Model.OrganizationList.ConvertToSelectListItem())
                          .ClientEvents(c => c.OnChange("paperForm.OnFormNo1OrganizationChanged"))
                          .Enable(false)

                          )
                }
                
            </td>
            <td colspan="3"></td>
        </tr>

    
        <tr>
            <td class="medium">
                @Html.LabelFor(m => m.PageSize)
            </td>
            <td class="large">
                
                @{
                    @(Html.Telerik().ComboBox()
                          .Name("PageSize")
                          .BindTo(Model.PageSizeList.ConvertToSelectListItem())
                          .HtmlAttributes(new {@class = "requiredField"})

                          )
                }
                
            </td>
            <td colspan="3"></td>
        </tr>
  
    </table>

    @Html.Partial("Common/ExportButtons", Model)
}