@model eidss.model.Schema.VetAggregateCaseListItem.Accessor
@{
    ViewBag.Title = Translator.GetMessageString("titleVeterinaryCaseList");
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@using eidss.webclient.Utils;
@using eidss.model.Schema;

<div class="popupContent searchPopupContent">    
    <input type="hidden" id="grid_selecteditem" />    
    <input type="hidden" id="hdnReportAreaType" value="@ViewBag.ReportAreaType" />    
    <input type="hidden" id="hdnReportPeriodType" value="@ViewBag.ReportPeriodType" />    
    <div class="fillAll">  
        <div class="collapsePanel collapsePanelRight">                                                                      
            <input type="button" id="btHideSearch" value="<<" onclick="onHideSearchPanel()" class="popupButton lfButton" />
            <input type="button" id="btShowSearch" value=">>" onclick="onShowSearchPanel()" class="popupButton lfButton invisible" />                
        </div>
        <div class="searchContentTop">                
            <!--div class="titleNumber">V09</div-->
            <input type="button" value="@Translator.GetMessageString("strSelectAll_Id")" onclick="onAggregateCaseItemPickerSelect(true)" class="popupButton" />
            <input type="button" value="@Translator.GetMessageString("Select")" onclick="onAggregateCaseItemPickerSelect(false)" class="popupButton" />                        
        </div>
        <div class="searchContentLeft">
            <div id="searchpanel" class="customSearchPanel popupSearchPanel">
                @using (Html.BeginForm())
                { 
                    @Html.SearchPanel(Model, (bv.model.Model.Core.FilterParams)ViewBag.Filter,(bv.model.Model.Core.IObject)ViewBag.InitObject)                
                    <input type="button" value="@Translator.GetMessageString("Search")" onclick="onAggregateCasePickerSearchAndOrder('/VetAggregateCase/VetAggregateCasePicker')" class="popupButton" />
                    <input type="button" value="@Translator.GetMessageString("Clear")" onclick="ClearSearch()" />                        
                }
            </div>
        </div>
        <div class="mainSearchContent searchLeftIndent">
            @(Html.BvSelectGrid<VetAggregateCaseListItem.VetAggregateCaseListItemGridModel, VetAggregateCaseListItem.VetAggregateCaseListItemGridModelList>(
                Session.SessionID,
                (VetAggregateCaseListItem.VetAggregateCaseListItemGridModelList)ViewBag.GridItems,
                eidss.webclient.Configurations.GridDisplayRowsSettings.VET_AGGREGATE_CASE_LIST,
                "popupSearchGrid",
                true)
                .Sortable(sorting => sorting.OrderBy(ordering => ordering.Add("strCaseID"))))                                              
        </div>
        <div class="searchContentBottom">                            
            <input type="button" onclick="CloseMessageWindow();" value="@Translator.GetMessageString("Close")" class="popupButton"/>
        </div>            
    </div>     
</div>                  
 
