@model eidss.model.Schema.Address

@using eidss.model.Core
@using eidss.webclient.Utils;

<input id='@Model.ObjectName' name='@Model.ObjectName' type='hidden' value='@Model.Key' />
<table class="level1">
    <tr>
        <td class="medium">
            @Html.LabelFor(m => m.idfsCountry)
        </td>
        <td>
                @Html.BvReadOnlyEditbox(Model, m => m.strReadOnlyCountry)
        </td>                            
    </tr >   
     <tr>
        <td class="medium">
            @Html.LabelFor(m => m.idfsRegion)
        </td>
        <td class="xlarge">
            @Html.BvCombobox(Model, m => m.Region, false, "address.onRegionChanged")
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.idfsRayon)
        </td>
        <td>
            @Html.BvCombobox(Model, m => m.Rayon, false, "address.onRayonChanged")
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.idfsSettlement)
        </td>
        <td>
            @Html.BvCombobox(Model, m => m.Settlement, false, "address.onSettlementChanged")
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.strStreetName)
        </td>
        <td>
            @Html.BvCombobox(Model, m => m.Street, false)
        </td>
    </tr>
    <tr>
        @if (EidssSiteContext.Instance.IsUsaAddressFormat)
        {
            <td class="label">
                @Html.LabelFor(m => m.strBuilding)/&shy;@Html.LabelFor(m => m.strHouse)/&shy;@Html.LabelFor(m => m.strApartment)
            </td>
            <td class="building">
                @Html.BvEditbox(Model, m => m.strBuilding, true)
                @Html.BvEditbox(Model, m => m.strHouse, true)
                @Html.BvEditbox(Model, m => m.strApartment, true)
            </td>
        }
        else
        {
            <td class="label">
                @Html.LabelFor(m => m.strHouse)/&shy;@Html.LabelFor(m => m.strBuilding)/&shy;@Html.LabelFor(m => m.strApartment)
            </td>
            <td class="building">
                @Html.BvEditbox(Model, m => m.strHouse, true)
                @Html.BvEditbox(Model, m => m.strBuilding, true)
                @Html.BvEditbox(Model, m => m.strApartment, true)
            </td>
        }
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.strPostCode)
        </td>
        <td>
            @Html.BvCombobox(Model, m => m.PostCode, false)
        </td>
    </tr>
</table>
