@model eidss.model.Schema.Patient
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}
@using eidss.webclient.Utils;
@using eidss.webclient.Areas.Patient;
<script src="@Url.Content("~/Scripts/Address/CommonScript.js")" type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Address/Lookups.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery.form.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Common/AjaxFormSubmit.js")' type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#bMainPanel_Create').hide();

        $("#bMainPanel_Save").removeAttr("onclick");
        $("#bMainPanel_Ok").removeAttr("onclick");
        
        $("#bMainPanel_Save").unbind("click").click(SaveClick);
        $("#bMainPanel_Ok").unbind("click").click(OKClick);       
    });
</script>
@using (Html.BeginForm())
{
    @Html.IdentificationAndHeartbeat("idfHuman", Model.idfHuman)	  
    <div class="detailsWindow largeDetailsWindow">
        <div class="detailsTitle">
            <table class="detailsTitleContent">
                <tr>
                    <td class="titleImage">
                        @*<img src='@Url.Content("~/Content/Images/Active-Surviellance-Session-(large).png")'  alt=""/>*@
                    </td>
                    <td class="titleText">
                        @Translator.GetMessageString("Person Details")
                    </td>
                    <td class="titleText titleFormCode">
                        H04
                    </td>
                </tr>
            </table>
        </div>
        @Html.Patient(Model.idfHuman, Model, false)
    </div>        
}
