
@using Kendo.Mvc.UI
@using bv.model.Model.Core
@using eidss.webclient.Utils
@model eidss.webclient.Models.Reports.ComparativeTwoYearsModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.Partial("Common/ExportButtons", Model)
    <div class="bluelayout">
        <div class="tabPanelContent">
        
            @Html.Partial("Common/BaseFilter", Model)

            @Html.Partial("AZ/FromYearToYearFilter", Model.YearModel)

            @Html.Partial("Common/AddressFilter", Model.Address)

            <table id="ComparativeFilterTable" >
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.OrganizationCHE)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.OrganizationList.ConvertToSelectListItem())
                                  .Name("OrganizationCHE")
                                  .Events(c => c.Change("paperForm.OnComparativeTwoYearsOrganizationChanged"))
                                  .Enable(false)
                                  )
                        }
                
                    </td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.Counter)
                    </td>
                    <td class="largereport">
                
                        @{
                            @(Html.Kendo().ComboBox()
                                  .BindTo(Model.CounterList.ConvertToSelectListItem())
                                  .Name("Counter")
                                  .HtmlAttributes(new {@class = "requiredField"})
                                  )
                        }
                
                    </td>
            
                    <td class="mediumreport">
                        @Html.LabelFor(m => m.DiagnosisId)
                    </td>
                    <td class="largereport">
                        @{
                            @(Html.Kendo().ComboBox()
                                 .Events(e => e.Open("function(e) { bvComboBox.onOpen(e, " + (int)EditorControlWidth.Large + "); }"))
                                  .BindTo(Model.DiagnosisList.ConvertToSelectListItem())
                                  .Name("DiagnosisId")
                                  )
                        }
                    </td>
                    <td ></td>
                </tr>
            </table>
        </div>
    </div>
}