<!DOCTYPE html>
<html>

<head>
    <title>@Translator.GetMessageString("pageTitleChangePassword")</title>
    <link href="@Url.Content("~/Content/Styles/Common.css")" rel="stylesheet" type="text/css" />

</head>

@model eidss.webclient.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = null;
}

@using eidss.webclient.Utils
@using bv.model.Model.Core

<script src="@Url.Content(String.Format("~/Scripts/Messages/EIDSS.BvMessages.{0}.js", Cultures.GetCulture(ModelUserContext.CurrentLanguage)))" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/Common/Dialogs.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
function ShowErrorMessage()
{
    var msg = '@Model.ErrorMessage';
    if (msg == 'closewin') {
        document.getElementById('errorMessageSpan').innerHTML = "";
        alert('Password has been changed successfully');
        window.close();       
    }
    if (msg.length > 0 ) {
      //  alert(msg);
    }
    
}
function CheckFields() {
    var org = document.getElementById("Organization");
    var log = document.getElementById("UserName");
    var opwd = document.getElementById("OldPassword");
    var npwd = document.getElementById("NewPassword");
    var cpwd = document.getElementById("ConfirmPassword");
    if (org && log && opwd && npwd && cpwd) {
        if (org.value.length == 0 || log.value.length == 0 || opwd.value.length == 0 || npwd.value.length == 0 || cpwd.value.length == 0) {
            document.getElementById('errorMessageSpan').innerHTML = EIDSS.BvMessages['errLoginMandatoryFields'];
            return false;
        }
        else
            return true;

    }
}
</script>
<body onload='ShowErrorMessage();'>    
    @using (Html.BeginForm())
    {
        <div class="page defaultWidth">
            <div class="content">
                <div class="customTitle">@Translator.GetMessageString("btChangePassword")</div>       
                <table class="changePassword">
                    <tr>
                        <td colspan="2">
                            <span class="errorMessage" id='errorMessageSpan'>@Html.Encode(Model.ErrorMessage)</span> 
                        </td>
                    </tr>                  
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Organization)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.Organization)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.UserName)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.OldPassword)
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.OldPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.NewPassword)
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                </table>
                <div class="changePasswordButtons">
                    <input type="submit" value="@Translator.GetMessageString("Ok")" onclick="return CheckFields();" />
                    <input type="button" value="@Translator.GetMessageString("Cancel")" onclick="window.close();" />
                </div>
            </div>
        </div>
    }
</body>
</html>

