<!DOCTYPE html>
<html>

<head>
    <title>@Translator.GetMessageString("EIDSSLogin")</title>
    <link href="@Url.Content("~/Content/Styles/Common.css")" rel="stylesheet" type="text/css" />

</head>

@model eidss.webclient.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = null;
}

@using bv.model.Model.Core

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>   
<script src="@Url.Content(String.Format("~/Scripts/Messages/EIDSS.BvMessages.{0}.js", ViewBag.SelectedLanguage ?? "en-US"))" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/Common/WindowsShow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/Dialogs.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    function CheckFields() {
        var org = document.getElementById("Organization");
        var log = document.getElementById("UserName");
        var pwd = document.getElementById("Password");
        if (org && log && pwd) {
            if (org.value.length == 0 || log.value.length == 0 || pwd.value.length == 0) {
                document.getElementById('errorMessageSpan').innerHTML = EIDSS.BvMessages['errLoginMandatoryFields'];
                return false;
            }
            else
                return true;

        }
    }

    function ChangeLanguage(obj) {
        var current = GetSiteLanguage();
        var overriding = obj[obj.selectedIndex].value;
        document.location = document.URL.replace(current, overriding);
    }
    function DetectCurrentLanguage() {
        if (window.opener) {
            window.opener.document.location = window.location;
            window.close();
        }
        var currentLang = GetSiteLanguage();        
        var sel = document.getElementById('LanguagePreference');
        if (sel) {
            for (i = 0; i < sel.length; i++) {
                if (sel[i].value == currentLang) {
                    sel[i].selected = true;
                    break;
                }
            }
        }
    }

    function OpenChangePasswordWindow() {
        var org = document.getElementById('Organization').value;
        var userName = document.getElementById('UserName').value;
        var lang = GetSiteLanguage();
        var url = "/" + lang + "/Account/ChangePassword" + "?organization=" + org + "&userName=" + userName;
        OpenPopup(url, 'Change Password', 500, 400);
    }
</script>

@using bv.model.Model.Core
@using eidss.webclient.Utils

<body onload='DetectCurrentLanguage();'>    
    @using (Html.BeginForm())
    {
        <div class="page defaultWidth">
            <div class="header">
                @*<div class="menuContainer">*@
                    <img src="/Content/Images/Web_Login_Title.png" class="headerImg" border="0" alt='@Translator.GetMessageString("WelcomeTitle")' title='@Translator.GetMessageString("WelcomeTitle")'/>
                @*</div>*@
            </div>
            <div class="content">
                @*<div class="customTitle">@Translator.GetMessageString("WelcomeTitle")</div>       *@
                <table class="borderless">
                    <tr>
                        <td colspan="2">
                            <span class="errorMessage" id='errorMessageSpan'>@Html.Encode(Model.ErrorMessage)</span> 
                        </td>
                    </tr>
                    <tr>
                        <td class="loginLabel">
                            @Html.LabelFor(m => m.LanguagePreference)
                        </td>
                        <td class="loginField">
                            @(Html.DropDownListFor(m => m.LanguagePreference, Model.SupportedLanguages, new {onchange="ChangeLanguage(this);"}))
                        </td>
                    </tr>                   
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Organization)
                        </td>
                        <td class="loginField">
                            <div class="tdContainer">
                                @Html.EditorFor(m => m.Organization)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.UserName)
                        </td>
                        <td class="loginField">
                            <div class="tdContainer">
                                @Html.EditorFor(m => m.UserName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Password)
                        </td>
                        <td class="loginField">
                            <div class="tdContainer">
                                @Html.PasswordFor(m => m.Password)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="loginButtons">
                            <input type="button" value="@Translator.GetMessageString("btChangePassword")" onclick="OpenChangePasswordWindow();" />
                        </td>
                        <td class="loginButtons">
                            <input type="submit" class="loginOkButton" value="@Translator.GetMessageString("btLogin")" onclick="return CheckFields();" />
                        </td>   
                    </tr>
                </table>
            </div>
            <div class="footer"> 
                <div class="siteInfo">       
                    Version: <strong>@typeof(eidss.webclient.MvcApplication).Assembly.GetName().Version</strong>
                </div>                      
            </div>
        </div>
    }
</body>
</html>
